version: '3'

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./backend/app:/app/app

  frontend:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./frontend/src:/usr/share/nginx/html
